/**
* Cell
*/
/**
* Button
*/
.background-cover {
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  background-size: cover;
}
.bg_modal::after {
  content: '';
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
